<%- include('../template/login_header') %>
<div class="login-box login-boxCuston">
  <% if(message){ %>
  <div class="alert alert-<%= message.type; %> alert-dismissible fade show" role="alert">
    <strong>
      <%= message.message; %>
    </strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <% } %>
  <!-- /.login-logo -->
  <div class="card card-outline card-outlineCustom card-primary">
    <div class="card-header text-center">
      <a href="" class="h1 logoLogin"><img src="/dist/img/blue logo.jpg" alt="PURDCS"></a>
    </div>
    <div class="card-body card_bodyCustom">

      <form action="/admin/login" method="post">
        <div class="input-group mb-3 mb3Custom">
          <span class="input-group-text"><i class='fas fa-user-alt' style='font-size:24px'></i></span>
          <input type="text" class="form-control form_controlCustomLogin input_btn" name="user_id" id="user_id"  placeholder="User ID">
        </div>
        <div class="input-group mb-3 mb3Custom">
          <span class="input-group-text"><i class='fas fa-lock' style='font-size:24px'></i></span>
          <input type="password" class="form-control form_controlCustomLogin input_btn" name="password" id="password" placeholder="Password">
        </div>
        <div class="row">
          <div class="col-5">
         <button type="submit" class="btn btn-primary btn-block log_btn">Sign In</button>
          </div>
          <!-- /.col -->
          <div class="col-7">
          </div>
          <!-- /.col -->
        </div>
      </form>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>
<!-- /.login-box -->
<%- include('../template/login_footer') %>